*.pdf filter=lfs diff=lfs merge=lfs -text
Projects/Productivity/Values/HighPerformanceHabits-Tools-Prompts.pdf filter=lfs diff=lfs merge=lfs -text
Areas/Systems[[:space:]]Thinking/1-s2.0-S1877705815038588-main.pdf filter=lfs diff=lfs merge=lfs -text
Projects/Interviewing/sys[[:space:]]design/system-design-cheatsheet.pdf filter=lfs diff=lfs merge=lfs -text
Projects/Productivity/Dare[[:space:]]to[[:space:]]lead/StoryRumbleProcess_092221.pdf filter=lfs diff=lfs merge=lfs -text
Projects/Productivity/Dare[[:space:]]to[[:space:]]lead/Values_092421.pdf filter=lfs diff=lfs merge=lfs -text
Projects/Building[[:space:]]work/kitchen[[:space:]]layout.pdf filter=lfs diff=lfs merge=lfs -text
Projects/Self[[:space:]]Improvement/Getting[[:space:]]to[[:space:]]Zero/Getting[[:space:]]to[[:space:]]Zero[[:space:]]Notes.pdf filter=lfs diff=lfs merge=lfs -text
Projects/Productivity/Dare[[:space:]]to[[:space:]]lead/Daring_leadership_manifesto-2020-1.pdf filter=lfs diff=lfs merge=lfs -text
Projects/Self[[:space:]]Improvement/Getting[[:space:]]to[[:space:]]Zero/5-Steps-to-Calm-Down-Fast-During-a-Conflict.pdf filter=lfs diff=lfs merge=lfs -text
Resources/2nd[[:space:]]brain[[:space:]](or[[:space:]]obsidian)/hemnes-day-bed-frame-with-3-drawers-white__AA-1913852-7-2.pdf filter=lfs diff=lfs merge=lfs -text
scrybble/Journal/Test.pdf filter=lfs diff=lfs merge=lfs -text
Archives/documents/Taking[[:space:]]Notes[[:space:]](go_taking-notes).pdf filter=lfs diff=lfs merge=lfs -text
Archives/documents/Teams[[:space:]]at[[:space:]]Google.pdf filter=lfs diff=lfs merge=lfs -text
Projects/Interviewing/reading/hacking[[:space:]]google[[:space:]]interview/Hacking_a_Google_Interview_Handout_2.pdf filter=lfs diff=lfs merge=lfs -text
Projects/Job[[:space:]]Hunt/Go[[:space:]]to[[:space:]]market[[:space:]]plans/rebranding[[:space:]]in[[:space:]]your[[:space:]]40s.pdf filter=lfs diff=lfs merge=lfs -text
Resources/2nd[[:space:]]brain[[:space:]](or[[:space:]]obsidian)/organising_knowledge_paper.pdf filter=lfs diff=lfs merge=lfs -text
scrybble/Designing[[:space:]]Your[[:space:]]Life-Workbook.pdf filter=lfs diff=lfs merge=lfs -text
scrybble/Work/francis[[:space:]]chat.pdf filter=lfs diff=lfs merge=lfs -text
Archives/Sales[[:space:]]+[[:space:]]Marketing/1681927599075.pdf filter=lfs diff=lfs merge=lfs -text
Areas/Personal[[:space:]]Development/The[[:space:]]Inversion[[:space:]]Principle[[:space:]]for[[:space:]]making[[:space:]]better[[:space:]]decisions.pdf filter=lfs diff=lfs merge=lfs -text
Areas/Starting[[:space:]]AsuraFin/Asura[[:space:]]-[[:space:]]notes.pdf filter=lfs diff=lfs merge=lfs -text
Areas/Systems[[:space:]]Thinking/CodeFreeze-2023.pdf filter=lfs diff=lfs merge=lfs -text
Areas/Managment/rework.pdf filter=lfs diff=lfs merge=lfs -text
Areas/Personal[[:space:]]Development/The-Turn-Inwards-Journaling-Guide.pdf filter=lfs diff=lfs merge=lfs -text
Projects/Productivity/Values/StrengthsProfile-James-Pitt[[:space:]](1)[[:space:]](1).pdf filter=lfs diff=lfs merge=lfs -text
Archives/documents/gTeams[[:space:]]Methodology[[:space:]][go_gteamsmethodology].pdf filter=lfs diff=lfs merge=lfs -text
Projects/Interviewing/reading/hacking[[:space:]]google[[:space:]]interview/Hacking_a_Google_Interview_Handout_1.pdf filter=lfs diff=lfs merge=lfs -text
Projects/Productivity/ADHD/adhd[[:space:]]meditation.pdf filter=lfs diff=lfs merge=lfs -text
Projects/Interviewing/reading/hacking[[:space:]]google[[:space:]]interview/Hacking_a_Google_Interview_Practice_Questions_Person_A.pdf filter=lfs diff=lfs merge=lfs -text
Projects/Productivity/Dare[[:space:]]to[[:space:]]lead/DTL_BRAVING_102221.pdf filter=lfs diff=lfs merge=lfs -text
Resources/2nd[[:space:]]brain[[:space:]](or[[:space:]]obsidian)/Driven[[:space:]]to[[:space:]]Distraction[[:space:]]at[[:space:]]Work_[[:space:]]-[[:space:]]Ned[[:space:]]Hallowell[[:space:]]&[[:space:]]Edward[[:space:]]M.[[:space:]]Hall_28654.pdf filter=lfs diff=lfs merge=lfs -text
Areas/Starting[[:space:]]AsuraFin/30-60-90[[:space:]]Days.pdf filter=lfs diff=lfs merge=lfs -text
Projects/Interviewing/reading/hacking[[:space:]]google[[:space:]]interview/Hacking_a_Google_Interview_Handout_3.pdf filter=lfs diff=lfs merge=lfs -text
Projects/Interviewing/reading/hacking[[:space:]]google[[:space:]]interview/Hacking_a_Google_Interview_Practice_Questions_Person_B.pdf filter=lfs diff=lfs merge=lfs -text
Projects/Productivity/Dare[[:space:]]to[[:space:]]lead/DaringFeedbackChecklist_092921-Dare-to-Lead.pdf filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.ts merge=weave
*.tsx merge=weave
*.js merge=weave
*.jsx merge=weave
*.py merge=weave
*.go merge=weave
*.rs merge=weave
*.java merge=weave
*.c merge=weave
*.h merge=weave
*.cpp merge=weave
*.cc merge=weave
*.cxx merge=weave
*.hpp merge=weave
*.hh merge=weave
*.hxx merge=weave
*.rb merge=weave
*.cs merge=weave
*.php merge=weave
*.f90 merge=weave
*.f95 merge=weave
*.f03 merge=weave
*.f08 merge=weave
*.json merge=weave
*.yaml merge=weave
*.yml merge=weave
*.toml merge=weave
*.md merge=weave
